POSTGRES_PASSWORD="generate-a-random-password"
AUTH_SECRET="generate-a-different-random-secret"
JOB_SECRET="generate-another-random-secret"
CODEXDENTIST_PORT="3000"
APP_BASE_URL="http://127.0.0.1:3000"
APP_ROOT_DOMAIN="codexdentist.local"
SESSION_COOKIE_SECURE="false"
TRUSTED_PROXY_PROVIDER="none"
NOTIFICATION_DELIVERY_MODE="disabled"
CODEXMED_AI_ENABLED="false"
CODEXDENTIST_IMAGE="codexdentist:local"
